<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    
  -->
  <appSettings>
    <add key="IsDropDatabase" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailBody" value="尊敬的{0}， &lt;br/&gt; 请点击下面的链接完成然禧减肥产品代购申请: http://www.yanhee.eu/User/CollectAnswer?id={1}&amp;password={2} &lt;br/&gt; Yanhee Hospital" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add name="YanheeHospitalDbContext"
      connectionString="Server=yanhee.eu;User ID=wang;Password=wang123;Database=yanhee"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>