@model YanheeHospital.ViewModels.UserCollectAnswerViewModel

@if (!Model.IsUserAuthenticated)
{
    <h2>Sorry, you are not allowed to access this page...</h2>
}
else
{
    if (Model.User.IsAnswered == true)
    {
        <h2>We have collected your info, please wait for the reply!</h2>
    }
    else
    {
        using (Html.BeginForm("CollectAnswer", "User")) { 
            @Html.HiddenFor(x => x.UserAnswer.UserId)
            <table>
                <tr>
                    <td>邮寄地址</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>电话</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>诊疗卡号</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>中文姓名/性别</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>出生年-月-日</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>身高/体重</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>一天中哪餐饭吃得最多</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>喜不喜欢吃零食</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>是否食物/药物过敏</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>过敏食物/药名</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>是否有重大疾病</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>是否曾服用过减肥药</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>服用过减肥药药名</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>曾服用时间</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        }
    }
}
